*{
    margin: 0;
    padding: 0;
}




.navbar{
    width: 100%;
    height: 80px;
    background-color: white;
    
    

}
.navbar .list a{
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    color: black;
    
    
}
.navbar .list{
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.container{
    width: 100%;
    height: 500px;
    background-color: gray;
    display: flex;
    
}


.div1{
    width: 20%;
    height: 100%;
    background-color: red;
}

.div2{
    width: 60%;
    height: 100%;
    background-color: blue;
}
.div3{
    width: 20%;
    height: 100%;
    background-color: pink;
}


@media screen and (max-width:480px){
    .container{
        display: flex;
        flex-wrap: wrap;
    }
     .div1{
        display: block;
        background-color: orange;
        width: 100%;
    }
    .div2{
        display: block;
        background-color: green;
        width: 100%;
    }
    .div3{
        display: block;
        background-color: blue;
        width: 100%;
    }
}

@media screen and (min-width:481px){
    .container{
        display: flex;
        flex-wrap: wrap;
    }
    .div1{
        display: block;
        background-color: lightskyblue;
        width: 100%;
    }
    .div2{
        display: block;
        background-color: palegreen;
        width: 100%;
    }
    .div3{
        display: block;
        background-color: palevioletred;
        width: 100%;
    }
    
}

@media screen and (min-width:769px){
    .container{
        display: flex;
        flex-wrap: wrap;
    }
    .div1{
    width: 20%;
    height: 100%;
    background-color: red;
}

.div2{
    width: 60%;
    height: 100%;
    background-color: blue;
}
.div3{
    width: 20%;
    height: 100%;
    background-color: pink;
}
    
}