*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.container{
   width: 80%;
    border: 5px solid black;
    margin: 30px auto;
    padding: 20px;  
    box-sizing: border-box;
}


.header{
    height: 80px;
    background: red;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border: 2px solid black;
}


.nav{
    height: 80px;
    background: skyblue;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    margin-top: 10px;
    border: 2px solid black;
}


.second{
    margin-top: 10px;
    overflow: hidden;   
}


.left{
    width: 59%;
    float: left;
    margin-right: 10px;  
    
}


.up{
    height: 140px;
    background: #e0c930;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border: 2px solid black;
}


.down{
    height: 140px;
    background: orange;
    margin-top: 10px;   
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border: 2px solid black;
}


.right{
    width: 39.99%;     
    height: 290px;
    float: right;
    background: hotpink;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border: 2px solid black;
}


.footer{
    height: 80px;
    background: blue;
    margin-top: 10px;
    clear: both;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border: 2px solid black;
}
