*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.container{
    height: 100vh;
    width: 100%;
    background-image: url(https://images.pexels.com/photos/33315262/pexels-photo-33315262.jpeg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
}


.navbar{
    width: 100%;
    height: 70px;
    background: #27253d;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
    position: sticky;
    top: 0;
}

.navbar .logo{
    font-size: 26px;
    font-weight: bold;
}

.navbar .links{
    display: flex;
    gap: 30px;
}

.navbar .links a{
    text-decoration: none;
    color: gray;
    font-size: 18px;
    font-weight: 700;
    transition: 0.3s;
}

.navbar .links a:hover{
    color: white;
}


.outer{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero{
    text-align: center;
}

.hero h1{
    font-size: 70px;
    color: white;
}

.hero p{
    font-size: 30px;
    color: white;
    margin-top: 10px;
}

.hero button{
    margin-top: 20px;
    padding: 12px 35px;
    border: none;
    border-radius: 5px;
    background-color: rgb(55, 55, 218);
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

.hero button:hover{
    background-color: rgb(35, 35, 180);
}


.destination{
    width: 100%;
    padding: 60px 0;
    background-color: #f8f9fa;
    text-align: center;
}

.destination h5{
    font-size: 35px;
    font-weight: 500;
    margin-bottom: 30px;
}


.cards{
    display: flex;
    justify-content: center;
    gap: 30px;
}

.card{
    width: 380px;
    height: 300px;
    background: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    transition: 0.3s;
}



.card img{
    width: 100%;
    height: 220px;
    object-fit: cover;
}

.card .content{
    padding: 10px 20px;
}

.card h6{
    font-size: 22px;
    font-weight: 400;
}

.card p{
    font-size: 16px;
    color: #555;
    margin-top: 5px;
}


.about{
    height: 600px;
    width: 100%;
    display: flex;
    text-align: center;
    flex-direction: column;
    
}
.about .texts{
    width: 100%;
    height: 100px;
    padding: 30px;

}

.about .texts p{
    color: black;
    font-size: 35px;
    font-weight: 500;
    
    
}
.about .boxImage{
    height: 400px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    
    
}
.about .boxImage .div1{
    width: 650px;
    height: 400px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
    
    
    
}
.about .boxImage .div2{
    width: 650px;
    height: 400px;
    background-color: red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    overflow: hidden;
      
}

.package{
    height: 380px;
    width: 100%;
    background-color: #f8f9fa;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.package .travelText{
    padding: 35px;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.package .travelText p{
    font-size: 35px;
    font-weight: 500;
}

.package .priceCard{
    display: flex;
    gap: 20px;

}
.package .priceCard .pcard1{
    height: 170px;
    width: 450px;
    background-color: white;
    gap: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid grey;
    
}
.package .priceCard .pcard1:hover{
    border: 1px solid blue;
}
.package .priceCard .pcard1 .content{
    padding: 30px;
}

.testimonial{
    width: 100%;
    height: 350px;
    background-color: white;
    display: flex;
    flex-direction: column;
}
.testimonial .say{
    width: 100%;
    height: 100px;
    display: flex;
    text-align: center;
    padding: 30px;
    justify-content: center;
}
.testimonial .say p{
    font-size: 35px;
}
.testimonial .testcard{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    padding: 25px;
}

.testimonial .testcard .first{
    width: 450px;
    height: 130px;
    background-color: white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
     box-shadow: 10px 8px 25px rgba(128, 128, 128, 0.11)

}
.testimonial .testcard .first:hover{
    border: 1px solid blue;
}
.testimonial .testcard .first .inner{
    padding: 20px;
}

.bottom{
    height: 80px;
    width: 100%;
    background-color: #212529;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.bottom p{
    font-size: 19px;
}
