*{
    margin:0%;
    padding:0%
}

.container{
    height: 100vh;
    width: 100%;
    background-image: url(https://images.pexels.com/photos/33315262/pexels-photo-33315262.jpeg);
    background-size: cover;
    display: flex;
    flex-direction: column;
  
    
}
.navbar{
    width: 100%;
    height: 8%;
    background: #27253d;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}   

.navbar .logo{
    margin-left: 100px;
    font-weight:bolder;
    font-size: 25px;
}

.navbar .links{
    margin-right: 100px;
    display: flex;
    gap: 30px;
    
}
a{
    text-decoration: none;
    color: gray;
    font-size: 18px;
    font-weight: 700;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}
.outer{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:70px;
    color: white;
}
p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:30px;
    color: white;
}
button{
    border-radius: 5px;
    background-color: rgb(55, 55, 218);
    color: white;
    margin: 10px;
    padding: 10px 30px;
    border: 0;
    font-size: 15px;
}

    
    
   

    
    
