

body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;

}
.inner{
    
    height: 100%;
    width: 100%;
    border-left: 5px solid white;
    border-top: 5px solid white;
    border-bottom: 10px solid white;
    border-right: 10px solid white;

}

.border{
    height: 530px;
    width: 800px;
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.div1{
    height: 70px;
    width: 100%;
    background-color: rgb(125, 167, 77);
    
}
.div2{
    height: 120px;
    width: 100%;
    background-color: rgb(167, 77, 107);
    
    
}
.div2 .white{
    width: 65%;
    height: 100%;
    background-color: rgb(183, 190, 158);
    float: left;
}
.div2 .blue{
    width: 35%;
    height: 100%;
    background-color: blue;
    float: right;
}
.div3{
    width: 100%;
    height: 120px;
}

.div3 .half1{
    width: 50%;
    height: 100%;
    float: left;

}
.div3 .half2{
    width: 50%;
    height: 100%;
    float: right;
    
}
.div3 .half1 .up{
    width: 100%;
    height: 80px;
    background-color: rgb(62, 88, 82);
}
.div3 .half1 .down{
    width: 100%;
    height: 40px;
}
.div3 .half1 .down .purple{
    width: 50%;
    height: 100%;
    background-color: purple;
    float: left;
}
.div3 .half1 .down .green{
    width: 50%;
    height: 100%;
    background-color: green;
    float: right;
}

.div3 .half2 .pink{
    height: 50%;
    width: 100%;
    background-color: rgb(231, 84, 196);
}
.div3 .half2 .violet{
    height: 50%;
    width: 100%;
    background-color: rgb(133, 58, 183);
}

.div4{
    width: 100%;
    height: 170px;
   
}
.div4 .darkpink{
    width: 30%;
    height: 100%;
    background-color: rgb(204, 19, 142);
    float: left;
}

.div4 .yellow{
    width: 70%;
    height: 100%;
    background-color: yellow;
    float: right;
}

.div5{
    width: 100%;
    height: 50px;
    background-color: rgb(62, 88, 82);

}


