*{
    margin: 0;
    padding: 0;
    background-color: black;
}
.container{
    width: 80%;
    height: 700px;
    background-color: lightblue;
    display: flex;
    justify-self: center;
    margin: 30px;
}
.div1{
    height: 180px;
    width: 180px;
    background-color: #e5646e;
    border-bottom-right-radius: 300px;
    border-top-left-radius: 300px;
    transform: translateX(370px) translateY(130px) rotate(70deg);

}
.div2{
    height: 180px;
    width: 180px;
    background-color: #e8747d;
    border-bottom-right-radius: 300px;
    border-top-left-radius: 300px;
    transform: translateX(250px) translateY(84px) rotate(95deg);
    

}
.div3{
    height: 180px;
    width: 180px;
    background-color:#e5646e;
    border-bottom-right-radius: 300px;
    border-top-left-radius: 300px;
    transform: translateX(140px) translateY(60px) rotate(138deg);
    
    
  
}
.div4{
    height: 180px;
    width: 180px;
    background-color: #e8747d;
    border-bottom-right-radius: 300px;
    border-top-left-radius: 300px;
    transform: translateX(60px) translateY(82px) rotate(180deg);

}
.div5{
    height: 180px;
    width: 180px;
    background-color: #e5646e;
    border-bottom-right-radius: 300px;
    border-top-left-radius: 300px;
    transform: translateX(-70px) translateY(122px) rotate(200deg);

}

.div6{
    height: 320px;
    width: 12px;
    background-color: #129b12;
    transform: translateX(-250px) translateY(270px) rotate(180deg);
}

.div7{
    height: 180px;
    width: 180px;
    background-color: #129b12;
    border-bottom-right-radius: 300px;
    border-top-left-radius: 300px;
    transform: translateX(-252px) translateY(370px) rotate(360deg);
}
.div8{
    height: 180px;
    width: 180px;
     background-color: #129b12;
    border-bottom-right-radius: 300px;
    border-top-left-radius: 300px;
    transform: translateX(-577px) translateY(300px) rotate(92deg);
}
.div9{
    height: 150px;
    width: 20px;
    background-color: #129b12;
    transform: translateX(-570px) translateY(522px) rotate(90deg);
    border-radius: 30px;
} 