*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 100%;
    height: 100vh;
    background-color: lightgrey;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg-container{
    width: 90%;
    height: 90vh;
    background-image: url(img/bg.png);
    background-position: center;
    background-size: cover;
    position: relative; 
    overflow: hidden;
    

}


.car{
    position: absolute;
    bottom: 40px; 
    width: 180px;
}


.car img{
    width: 100%;
    height: 150px;
}


.div1{
    right: 80px;
    bottom: -40px;
    animation: div1Move 12s linear infinite;

}

.div2{
    left: 280px;
    bottom: 0px;
    animation: div2Move 8s linear infinite;
}

.div3{
    right: 480px;
    bottom: 60px;
    animation: div3Move 8s linear infinite;
    
}

.div4{
    left: 10px;
    bottom: 80px;
    animation: div4Move 12s linear infinite;
}


@keyframes div1Move {
    0% { transform: translateX(0); }
    100%   { transform: translateX(-1300px); }
}

@keyframes div2Move {
    0% { transform: translateX(0); }
    100%   { transform: translateX(1000px); }
}

@keyframes div3Move {
    0% { transform: translateX(0); }
    100%   { transform: translateX(-900px); }
}


@keyframes div4Move {
    0%   { transform: translateX(0); }
    100%  { transform: translateX(1200px); }
    
}


